.faq-wrap {
  background: #ffffff;
  padding: 80px 20px;
}

.faq-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
}

/* Left image */
.faq-image img {
  width: 100%;
  height: 620px;
  object-fit: cover;
  border-radius: 20px;
}

/* Right side */
.faq-content h2 {
  font-size: 42px;
  color: #111827;
  margin-bottom: 10px;
}

.faq-subtitle {
  color: #6b7280;
  font-size: 16px;
  margin-bottom: 25px;
}

.faq-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 14px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 40px;
  transition: 0.3s;
}

.faq-btn:hover {
  background: #4f46e5;
}

/* FAQ list */
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.faq-item {
  background: #f9fafb;
  border-radius: 14px;
  padding: 20px 24px;
  cursor: pointer;
  transition: 0.4s;
}

.faq-item.active {
  background: #fff;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #111827;
}

.faq-question i {
  color: #111827;
  /* color: #4f46e5; */
  font-size: 16px;
  transition: 0.3s;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  color: #6b7280;
  line-height: 1.7;
  font-size: 15px;
  transition: max-height 0.5s ease, margin-top 0.4s ease;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  margin-top: 15px;
}



























/* Carousel  */
.carousel-container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 1.5rem;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
}

.carousel-track {
    display: flex;
    width: max-content;
    gap: 40px;
    animation: scroll 40s linear infinite;
}

.carousel-slide {
    display: flex;
    gap: 2rem;
}

.carousel-slide img {
    max-height: 60px;
    min-width: 150px;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 600px) {
    .carousel-slide {
        gap: 1rem;
    }

    .carousel-slide img {
        max-height: 40px;
        min-width: 80px;
    }

    .carousel-track {
        animation-duration: 20s;
    }
}






/* Mobile */
@media (max-width: 900px) {
  .faq-container {
    grid-template-columns: 1fr;
  }

  .faq-image img {
    height: 400px;
  }
}














/* Mobile */
@media (max-width: 900px) {
    .faq-grid {
        grid-template-columns: 1fr;
    }
}